---
layout: layouts/base.njk
title: Rio Forever Blog
---

<div class="post-list">
  {% for post in collections.posts %}
    {% set words = post.data.title.split(" ") %}
    {% set last = words.pop() %}
    {% set prefix = words | join(" ") %}

    <a
      href="{{ post.url }}"
      class="post-item"
      data-image="{{ post.data.featuredImage }}"
    >
<div class="post-title">
  <span class="title-text">
    {{ prefix }}
    <span class="nowrap">
      {{ last }}
      <span class="post-date">{{ post.data.date | readableDate }}</span>
    </span>
  </span>
</div>
    </a>
  {% endfor %}
</div>
